<div ng-class="headerClasses" id="_header">
    <div class="hidden-xs">
        <table style="width:100%;z-index:2;position:relative">
            <tr>
                <td style="text-align:center;width:50px;z-index:10">
                    <a style="text-decoration:none;" href="#"  >
                        <img src="content/images/home.png" style="width:40px;" />
                    </a>
                </td>
                <!--<td style="text-align:center;width:50px;z-index:10">
                    <a style="text-decoration:none;" href="" data-ng-click="menu()">
                        <img src="../../content/images/menu.png" style="width:40px;" />
                    </a>
                </td>-->

                <td style="position:relative;top:3px;padding-left:10px;padding-right:10px">
                    <div class="app-remark" style="position:relative; top: 0px; font-size:15px">{{app_title}}</div>
                    <span class="app-title" style="position:relative; top:3px;font-size:24px">  {{module}}</span>
                    <span class="page-title" style="position:relative; top:2px;font-size:18px">  {{page_title}}</span>

                </td>
                <td style="text-align:right; font-size:25px; ">

                    <span style=" font-size:20px;color:white">{{userName}}</span>

                </td>

                <td style="text-align:right;width:70px;z-index:10">
                    <a style="text-decoration:none;" href="">
                        <img src="content/images/user.png" style="width:40px;" />
                    </a>
                </td>
                <td style="text-align:center;width:65px;z-index:10">
                    <a style="text-decoration:none;" href="" data-ng-click="apps()">
                        <img src="content/images/apps.png" style="width:40px;" />
                    </a>
                </td>
                <td style="text-align:center;width:65px;z-index:10">
                    <a style="text-decoration:none;" href="" data-ng-click="logOut()">
                        <img src="content/images/logout.png" style="width:40px;" />
                    </a>
                </td>
            </tr>
        </table>
    </div>
   
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>